*.pyc
*.pyo
*.swp
.coverage*
.installed.cfg
.mr.developer.cfg
.tox/
bin
coverage
develop-eggs
develop/*
dist/
eggs/
htmlcov/
include/
lib/
parts/
pip-selfcheck.json
pyvenv.cfg
src/*.egg-info
share/
tags
