[buildout]
extends =
  https://raw.githubusercontent.com/zopefoundation/groktoolkit/3.0.0a1/grok.cfg
develop = .
parts =
  omelette
  interpreter
  test
versions = versions

[versions]
grokcore.error =
# until grok.cfg is downpinned
mock = 1.0.1

[omelette]
recipe = collective.recipe.omelette
eggs = grokcore.error

[interpreter]
recipe = zc.recipe.egg
eggs = grokcore.error
interpreter = py

[test]
recipe = zc.recipe.testrunner
eggs = grokcore.error[test]
defaults = ['--auto-color', '-v']
